{% set assetEntryPoint = "week" %}
{% set translations = ["meal.notification.tooltip"] %}

{% extends "week-base.twig" %}

{% block content %}
    <div class="container">
        <table class="table table-striped" id="week-table">
            <thead>
                <tr>
                    <th></th>

                    {% for mealType in mealTypes %}
                        <th class="week-meal-type">{{ mealType.name }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for day in days %}
                    <tr class="week-day-row" data-date="{{ day.date.formatForKey }}">
                        <th class="week-day">
                            {{ day.title }}
                            <div class="week-day-date text-muted">{{ day.date.formatForDisplay }}</div>
                        </th>

                        {% for mealType in mealTypes %}
                            <td>
                                <b class="d-block d-lg-none">{{ mealType.name }}</b>
                                {% for meal in day.meals[mealType.id]|default([]) %}
                                    <div data-meal-id="{{ meal.id }}">
                                        {% if meal.notification %}
                                            <i class="fa fa-bell meal-notification me-1" data-time="{{ meal.notification.time.formatForJs }}" data-text="{{ meal.notification.text }}"></i>
                                        {% endif %}

                                        {% if meal.url %}
                                            <a href="{{ meal.url }}" target="_blank">{{ meal.text }}</a>
                                        {% else %}
                                            {{ meal.text }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="floating-button-container">
        <a href="{{ editUrl }}" class="btn btn-primary floating-button"><i class="fa fa-pencil"></i></a>
    </div>
{% endblock %}