<div class="input-group mb-2 week-edit-meal">
    <input type="text" class="form-control" value="{{ text }}" data-id="{{ id }}" data-date="{{ date }}" data-url="{{ url }}" data-type="{{ type }}"/>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"></button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li class="dropdown-item week-edit-meal-button-link" role="button"><i class="fa fa-globe"></i> {{ tr("edit.dropdown.link") }}</li>
        <li class="dropdown-item week-edit-meal-button-notification" role="button"><i class="fa fa-bell"></i> {{ tr("edit.dropdown.notification") }}</li>
    </ul>
</div>
