<div class="input-group mb-2 week-edit-meal">
    <input type="text" class="form-control" list="existing-meals" value="{{ text }}" data-id="{{ id }}" data-date="{{ date }}" data-url="{{ url }}" data-type="{{ type }}" data-notification-enabled="{{ notificationEnabled }}" data-notification-time="{{ notificationTime }}"/>
    <button class="btn btn-secondary week-edit-meal-button-link" type="button" title="{{ tr("edit.link.title") }}"><i class="fa fa-globe me-1"></i></button>
    <button class="btn btn-secondary week-edit-meal-button-notification" type="button" title="{{ tr("edit.notification.title") }}"><i class="fa fa-bell me-1"></i></button>
</div>
