{% extends "page.twig" %}

{% block title %}{{ tr("week-page.title", startDate.formatForDisplay, endDate.formatForDisplay) }}{% endblock %}

{% block navbar %}
    <div class="row ms-auto me-auto" id="week-date-container">
        <div class="col-auto"><a href="/space/{{ currentSpace.id }}/week/{{ previousWeek.formatForUrl }}" class="btn btn-primary px-3" title="{{ tr("goto-week.previous") }}"><i class="fa-solid fa-caret-left"></i></a></div>
        <div class="col-auto mx-auto d-flex">
            <div id="week-current-date-container" class="align-self-center" role="button">
                <span class="align-middle bold" id="week-current-date">{{ startDate.formatForDisplay }} - {{ endDate.formatForDisplay }}</span>
                <a href="/space/{{ currentSpace.id }}/week/{{ nowWeek.formatForUrl }}" class="btn btn-primary" title="{{ tr("goto-week.current") }}"><i class="fa fa-calendar-week"></i></a>
                <input type="date" id="week-date-selection"/>
            </div>
        </div>
        <div class="col-auto"><a href="/space/{{ currentSpace.id }}/week/{{ nextWeek.formatForUrl }}" class="btn btn-primary px-3" title="{{ tr("goto-week.next") }}"><i class="fa-solid fa-caret-right"></i></a></div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table table-striped" id="week-table">
            <thead>
                <tr>
                    <th></th>

                    {% for type in mealTypes %}
                        <th class="week-meal-type">{{ type }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for day in days %}
                    <tr>
                        <th class="week-day">{{ day.title }}</th>

                        {% for typeId, _ in mealTypes %}
                            <td>
                                {% for meal in day.meals[typeId] %}
                                    <div>
                                        {% if meal.notificationEnabled %}
                                            <i class="fa fa-bell meal-notification me-1" title="{{ tr("meal.notification.tooltip") }}"></i>
                                        {% endif %}

                                        {% if meal.url %}
                                            <a href="{{ meal.url }}" target="_blank" class="icon-link icon-link-hover">{{ meal.text }}</a>
                                        {% else %}
                                            {{ meal.text }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="floating-button-container">
        <a href="/space/{{ currentSpace.id }}/week/{{ startDate.formatForUrl }}/edit" class="btn btn-primary floating-button"><i class="fa fa-pencil"></i></a>
    </div>
{% endblock %}