{% set assetEntryPoint = "week-edit" %}

{% extends "page.twig" %}

{% block title %}{% trans with {"%startDate%": startDate.formatForDisplay, "%endDate%": endDate.formatForDisplay} %}week-page.title{% endtrans %}{% endblock %}

{% block navbar %}
    <div class="row mx-auto order-0" id="week-date-container">
        <div class="col-auto mx-auto d-flex">
            <div id="week-current-date-container" class="align-self-center">
                <span class="align-middle bold" id="week-current-date">{{ startDate.formatForDisplay }}<span class="d-none d-lg-inline-block"> - {{ endDate.formatForDisplay }}</span></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table table-striped" id="week-table" data-space-id="{{ currentSpace.id }}" data-date="{{ startDate.formatForKey }}">
            <thead>
                <tr>
                    <th></th>

                    {% for mealType in mealTypes %}
                        <th class="week-meal-type">{{ mealType.name }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for day in days %}
                    <tr class="week-day-row" data-date="{{ day.date.formatForKey }}">
                        <th class="week-day">
                            {{ day.title }}
                            <div class="week-day-date text-muted">{{ day.date.formatForDisplay }}</div>
                        </th>

                        {% for mealType in mealTypes %}
                            <td class="text-center" data-type="{{ mealType.id }}" data-notification-time="{{ mealType.notificationTime }}">
                                <b class="d-block d-lg-none">{{ mealType.name }}</b>
                                <div class="week-edit-meal-container">
                                    {% for meal in day.meals[mealType.id]|default([]) %}
                                        {% include "week-edit-meal.twig" with {
                                            "id": meal.id,
                                            "text": meal.text,
                                            "date": meal.date.formatForKey,
                                            "url": meal.url,
                                            "type": meal.type.id,
                                            "notificationTime": meal.notification.time.format("c")|default(""),
                                            "notificationText": meal.notification.text|default(""),
                                            "useState": true
                                        } only %}
                                    {% endfor %}
                                </div>

                                <button type="button" class="btn btn-primary btn-sm week-edit-meal-add" title="{% trans %}edit.add-meal{% endtrans %}"><i class="fa fa-plus"></i></button>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="floating-button-container">
        <button class="btn btn-success floating-button" id="week-edit-save-button" title="{% trans %}edit.save{% endtrans %}"><i class="fa fa-check"></i></button>
        <a href="/space/{{ currentSpace.id }}/week/{{ startDate.formatForUrl }}" class="btn btn-danger floating-button" title="{% trans %}edit.cancel{% endtrans %}"><i class="fa fa-xmark"></i></a>
    </div>

    {% embed "modal.twig" with {"id": "week-edit-url-modal", "title": "edit.link.title"|trans} only %}
        {% block body %}
            <p>{% trans %}edit.link.modal-text{% endtrans %}</p>

            <div class="form-floating">
                <input type="url" class="form-control" id="week-edit-url-input" placeholder="{% trans %}edit.link.label{% endtrans %}"/>
                <label for="week-edit-url-input" class="form-label">{% trans %}edit.link.label{% endtrans %}</label>
            </div>
        {% endblock %}
    {% endembed %}

    {% embed "modal.twig" with {"id": "week-edit-notification-modal", "title": "edit.notification.title"|trans} only %}
        {% block body %}
            <p>{% trans %}edit.notification.modal-text{% endtrans %}</p>

            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input" type="checkbox" id="week-edit-notification-enable"/>
                </div>
                <input type="datetime-local" class="form-control" id="week-edit-notification-time"/>
                <div class="invalid-feedback" id="week-edit-notification-invalid">
                    {% trans %}edit.notification.invalid{% endtrans %}
                </div>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="week-edit-notification-text" placeholder="{% trans %}edit.notification.text-description{% endtrans %}"/>
                <label for="week-edit-notification-text">{% trans %}edit.notification.text-description{% endtrans %}</label>
            </div>
        {% endblock %}
    {% endembed %}

    <div class="toast-container">
        <div id="week-edit-error-toast" class="toast" role="alert">
            <div class="toast-header text-bg-danger">
                <strong class="me-auto">{% trans %}error-toast.title{% endtrans %}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body"></div>
        </div>

        <div id="week-edit-move-to-notes-toast" class="toast" role="alert">
            <div class="toast-header text-bg-success">
                <strong class="me-auto">{% trans %}edit.move-to-notes.title{% endtrans %}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">{% trans %}edit.move-to-notes.toast-body{% endtrans %}</div>
        </div>
    </div>

    <datalist id="meal-autocompletion-source">
        {% for item in autocompletionItems %}
            <option value="{{ item.text }}" data-url="{{ item.url }}"></option>
        {% endfor %}
    </datalist>

    <script type="x-tmpl-mustache" id="week-edit-meal-template">
        {% include "week-edit-meal.twig" with {
            "id": "{{ id }}",
            "text": "{{ text }}",
            "date": "{{ date }}",
            "url": "{{ url }}",
            "type": "{{ type }}",
            "notificationTime": "{{ notificationTime }}",
            "notificationText": "{{ notificationText }}",
            "useState": false
        } only %}
    </script>
{% endblock %}

{% block additional_content %}
    <div class="sidebar" id="notes-sidebar">
        <button class="btn btn-primary sidebar-button"><i class="fa-solid fa-chevron-left"></i></button>

        <div class="sidebar-header">{% trans %}sidebar.header{% endtrans %}</div>
        <div class="sidebar-content">
            <textarea id="notes-sidebar-text">{{ notes }}</textarea>
        </div>
    </div>
{% endblock %}