{% extends "page.twig" %}

{% block title %}{{ tr("week-page.title", startDate.formatForDisplay, endDate.formatForDisplay) }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row pb-3">
            <div class="col-auto"><a href="/{{ currentSpace.id }}/{{ previousWeek.formatForUrl }}" class="btn btn-secondary px-3"><i class="fa-solid fa-caret-left"></i></a></div>
            <div class="col-auto mx-auto d-flex">
                <div id="week-current-date-container" class="align-self-center fs-3" role="button">
                    <span>{{ startDate.formatForDisplay }} - {{ endDate.formatForDisplay }}</span>
                    <input type="date" id="week-date-selection"/>
                </div>
            </div>
            <div class="col-auto"><a href="/{{ currentSpace.id }}/{{ nextWeek.formatForUrl }}" class="btn btn-secondary px-3"><i class="fa-solid fa-caret-right"></i></a></div>
        </div>

        <div>
            {% for day in days %}
                <h2>{{ day.title }}</h2>

                {% if day.meals|length %}
                    <div class="list-group">
                        {% for typeId, meals in day.meals %}
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col">{{ mealTypes[typeId] }}</div>
                                    <div class="col">
                                        {% for meal in meals %}
                                            <div>
                                                {% if meal.url %}
                                                    <a href="{{ meal.url }}" target="_blank" class="icon-link icon-link-hover">
                                                        {{ meal.text }}
                                                        <i class="fa fa-globe"></i>
                                                    </a>
                                                {% else %}
                                                    {{ meal.text }}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>{{ tr("week.nothing-planed") }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}