{% set buttons = [
    {"name": "link", "icon": "globe", "active": url},
    {"name": "notification", "icon": "bell", "active": notificationTime}
] %}

<div class="input-group mb-2 week-edit-meal border rounded">
    <input type="text" class="form-control" list="meal-autocompletion-source" value="{{ text }}" data-id="{{ id }}" data-date="{{ date }}" data-url="{{ url }}" data-type="{{ type }}" data-notification-time="{{ notificationTime }}" data-notification-text="{{ notificationText }}"/>

    {% for button in buttons %}
        <button class="btn week-edit-meal-button week-edit-meal-button-{{ button.name }}" type="button" title="{{ "edit.#{button.name}.title"|trans }}">
            <i class="{{ html_classes("fa", "fa-#{button.icon}", "me-1", {"active": button.active and useState}) }}"></i>
        </button>
    {% endfor %}
</div>
